body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: #161616;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  transform: scale(3);
}

.debug {
  position: fixed;
  background-color: #00000022;
  bottom: 0;
  padding: 20px;
  color: white;
  font-family: sans-serif;
  display: grid;
  grid-gap: 7px 13px;
  grid-template-columns: 1fr 2fr;
}
