body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  align-content: center;
  justify-items: center;
  background-color: #161616;
}

.debug {
  color: white;
  font-family: sans-serif;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
