body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  height: 100%;
  background-color: #161616;
  display: flex;
  align-items: center;
  justify-content: center;
}

.debug {
  box-sizing: border-box;
  position: fixed;
  background-color: #00000022;
  bottom: 0;
  padding: 20px 40px;
  width: 100%;
  height: 200px;
  color: white;
  font-family: sans-serif;
  display: grid;
  grid-gap: 7px 13px;
  grid-template-columns: 1fr 1fr;
}

.hidden {
  display: none;
}

.snakes {
  overflow-y: scroll;
  justify-self: end;
  padding: 0 20px;
}

.generation-info {
  align-self: flex-end;
}

th, td {
  min-width: 40px;
  text-align: right;
}

.reset-button {
  display: none;
}

:root {
  --green: #75b800;
  --gray-light: #eef1f3;
  --bar-size: 5px;
  --bar-radius: 60px;
  --bar-bg: rgba(255,255,255,0.1);
}

.progress-bar {
  border-radius: var(--bar-radius);
  overflow: hidden;
  width: 200px;
  height: var(--bar-size);
}

.bar {
  display: block;
  height: var(--bar-size);
  background: var(--bar-bg);
}

.progress {
  display: block;
  background: var(--green);
  height: var(--bar-size);
  color: #fff;
  padding: var(--bar-size);
  width: var(--progress);
}

.controls {
  position: absolute;
  bottom: 20px;
}
